@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.about_section {
    padding: 140px 0 0 0;

    .about {
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 130px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 0 0 15px;
            background: url('/assets/Images/laptop.png') 100% 100%/contain no-repeat;

            &-title {
                @include m.font(45px, 400, v.$white__color);

            }

            &-description {
                margin: 10px 0 0 0;
                max-width: 590px;
                @include m.font(20px, 300, v.$white__color);
            }

            @media (max-width: p.$media_xl) {
                background:
                    linear-gradient(1deg, rgba(88, 115, 182, 0) 0%, rgba(88, 115, 182, 0.90) 74%),
                    url('/assets/Images/laptop.png') 95% 45%/500px no-repeat;
            }

            @media (max-width: p.$media_md) {
                &-title {
                    @include m.font(35px, 400, v.$white__color);

                }

                &-description {
                    max-width: 500px;
                    @include m.font(16px, 300, v.$white__color);
                }


            }

            @media (max-width: p.$media_sm) {
                &-description {
                    max-width: 320px;

                }

                background: url('/assets/Images/laptop.png') 150px 100%/400px no-repeat;
            }
        }

        &__touch {

            position: relative;
            width: 100%;
            height: 500px;
            padding: 0 0 0 15px;
            margin: 50px 20px 0 0;
            @include m.d-flex(end, end, nowrap, column, 0, 20px);


            &::before {
                content: "";
                @include m.position(absolute, -1, -1, top, left, 0, -200px);

                width: 100%;
                height: 100%;
                background: url('/assets/Images/телефон.png') 0 0/contain no-repeat;
                rotate: 15deg;

            }

            &-title {
                @include m.font(45px, 400, v.$white__color);
            }

            &-description {
                margin: 0 0 30px 0;
                line-height: 1, 4;
                @include m.font(20px, 300, v.$white__color);
                text-align: right;
                max-width: 480px;
            }

            @media (max-width:p.$media_xl) {
                &::before {
                    content: "";
                    @include m.position(absolute, -1, -1, top, left, -35px, -360px);

                }
            }

            @media (max-width:p.$media_lg) {
                &::before {
                    height: 450px;
                    content: "";
                    @include m.position(absolute, -1, -1, top, left, -15px, -360px);

                }
            }

            @media (max-width:p.$media_md) {
                height: 400px;
                @include m.d-flex(start, end, nowrap, column, 0, 20px);

                &-title {
                    @include m.font(35px, 400, v.$white__color);
                }

                &-description {
                    max-width: 350px;
                    @include m.font(16px, 300, v.$white__color);
                }

                &::before {
                    rotate: 65deg;
                    @include m.position(absolute, -1, -1, top, left, 0px, -200px);
                    background: url('/assets/Images/телефон.png') -200px 0/128% no-repeat;
                }
            }

            @media (max-width: p.$media_sm) {
                margin: 0 0 10px 0;
                &::before {
                    @include m.position(absolute, -1, -1, top, left, 70px, -200px);
                }

            }

            @media (max-width: p.$media_min) {
                height: 350px;

                &::before {
                    @include m.position(absolute, -1, -1, top, left, 70px, -200px);
                }

            }
        }

        &__approach {
            background: url('/assets/Images/кактусзеленый.png')100% 5%/400px no-repeat;
            width: 100%;
            height: 600px;
            padding: 0 0 0 10px;

            @include m.d-flex(center, start, nowrap, column, 0, 0);

            &-title {
                @include m.font(45px, 400, v.$white__color);
            }

            &-description {

                margin: 20px 0 30px 0;
                line-height: 1, 4;
                @include m.font(20px, 300, v.$white__color);
                max-width: 730px;

            }

            @media (max-width:p.$media_lg) {
                &-description {
                    max-width: 500px;

                }
            }

            @media (max-width:p.$media_md) {
                margin: 150px 0 0 0;
                background: url('/assets/Images/кактусзеленый.png')100% 130%/350px no-repeat;

                &-title {
                    @include m.font(35px, 400, v.$white__color);
                }

                &-description {
                    max-width: 350px;
                    @include m.font(16px, 300, v.$white__color);
                }
            }

            @media (max-width:p.$media_sm) {
                margin: 50px 0 0 0;
                background: url('/assets/Images/кактусзеленый.png')100% 130%/320px no-repeat;
@include m.d-flex(start, start, nowrap, column, 0, 0);
                &-title {
                    @include m.font(35px, 400, v.$white__color);
                }

                &-description {
                    max-width: 350px;
                    @include m.font(16px, 300, v.$white__color);
                }

            }

        }
    }
}