* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;
}
h1, h2, h3, h4, h5, h6, p, button {
    padding: 0;
    margin: 0;
}

.divider {
    margin: 0;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
}
