@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';


.experience {
    padding: 180px 0 0 0;
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);

    &__title {
        @include m.font (60px, 400, v.$white__color);

        @media (max-width:p.$media_sm) {
            @include m.font (35px, 400, v.$white__color);
        }
    }

    &__cards {
        @include m.d-flex(space-around, center, wrap, row, 20px, 55px);
        width: 100%;
        padding: 0 15px;

    }


}