@use 'variables' as v;
@use 'placeholders' as p;
@use 'mixins' as m;
@use 'sass:color';

.footer__section {
    background-color: rgba(255, 255, 255, 0.15);
    // background-color: color.adjust(v.$white__color, $alpha: -0.85);
    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, .15);

    .footer {
        width: 100%;
        height: 136px;
        margin: 0 auto;
        padding: 0 15px;
        @include m.d-flex (space-between, center, nowrap, row, 0, 0);

        &__terms {
            @include m.d-flex (start, start, nowrap, column, 0, 15px);

            &-links {
                @include m.d-flex (start, center, nowrap, row, 40px, 0);
                @include m.font(20px, 400, v.$white__color);

            }

            &-link {
                @extend %hover-black;
            }

            &-rights {
                @include m.font(14px, 300, v.$white__color);
            }
        }
        &__contacts {
            @include m.d-flex (space-between, center, nowrap, row, 43px, 0);

            &-icon {
                width: 25px;
                height: 24px;
                fill: v.$white__color;

                &:hover {
                    fill: v.$black__color;
                }
            }
        }

        @media (max-width: p.$media_sm) {
                @include m.d-flex (center, center, nowrap, column-reverse, 0, 20px);
        }
    }
}