@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders' as p;
@use 'sass:color';

.header {
    width: 100%;
    height: 52px;
    background-color: v.$blue__color;


    border: {
        bottom: {
            width: 1px;
            color: v.$white__color;
            style: solid;
        }

    }

    .navigation {
        height: 50px;
        @include m.d-flex(start, center);

        &__title {
            height: 100%;
            width: 255px;
            @include m.d-flex(center, center);

            border: {
                right: {
                    width: 1px;
                    color: v.$white__color;
                    style: solid;
                }
            }

            &-link {
                font-size: 25px;
                font-weight: 500;
                color: v.$white__color;

                span {
                    font-weight: 700;
                }

                @extend %hover-black;
            }
        }

        &__links {

            flex-grow: 1;

            .list {
                @include m.d-flex(start, center, nowrap, row, min(80px, 4vw), 0);
                padding: 0 0 0 min(80px, 4vw);

                &__item {
                    &-link {
                        color: v.$white__color;
                        font-size: 22px;
                        font-weight: 400;
                        @extend %hover-black;
                    }
                }
            }

            @media(max-width:p.$media_lg) {
                .list {
                    @include m.d-flex (center,
                        center,
                        nowrap,
                        row,
                        min(80px, 4vw),
                        0);
                    padding: 0 0 0 0;
                }

            }

        }

        .covid {
            height: 100%;
            @include m.d-flex(center, center);
            padding: 0 30px;

            border: {
                left: {
                    width: 1px;
                    style: solid;
                    color: v.$white__color;
                }

                right: {
                    width: 1px;
                    style: solid;
                    color: v.$white__color;
                }
            }

            &__link {
                font-size: 16px;
                font-weight: 700;
                color: v.$white__color;

                @extend %hover-black;
            }
        }

        .globe {
            width: 90px;
            @include m.d-flex(center, center);

            &__link {
                &-icon {
                    width: 27px;
                    height: 29px;
                    @extend %hover-black-icon;
                }
            }
        }

        @media (max-width:p.$media_md) {

            &__links,
            .covid,
            .globe {
                display: none;
            }
        }
    }
}

.mobile-navigation {
    display: none;

    &__burger {
        @include m.position(absolute, 10, -1, top, right, 13px, 20px);

        &-icon {
            width: 33px;
            height: 22px;
            stroke: v.$white__color;
            @extend %hover-black-icon;

        }
    }

    &__toggler {
        display: none;

        &:checked+.navigation {
            translate: 0;
        }
    }

    .navigation {
        padding: 100px 70px 0;
        @include m.position (fixed, 999, 0);
        background-color: color.adjust(v.$black__color, $alpha: -0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        translate: 100% 0;
        transition: translate .22s;

        &__list {
            @include m.d-flex (start, start, nowrap, column, 0, 20px);

            .navigation__list-item {
                .navigation__list-link {
                    @include m.font (36px, 400, v.$white__color);
                    text-shadow: 2px 11px 5px rgba(0, 0, 0, .3);
                }
            }

        }


    }

    &__cross {
        @include m.position (absolute, 10, -1, top, right, 15px, 22px);

        &-icon {
            width: 25px;
            height: 22px;
            stroke: v.$white__color;
            @extend %hover-black-icon;
        }
    }

    @media (max-width:p.$media_md) {
        display: block;
    }
}