@use 'variables' as v;

%hover-black {
    &:hover {
        cursor: pointer;
            color: v.$black__color;
    }
}
%hover-light {
    &:hover {
        cursor: pointer;
        color: v.$white__color;
    }
}
%hover-black-icon {
    &:hover {
        cursor: pointer;
        stroke: v.$black__color;
    }
}

$media_xxl:1400px;
$media_xl:1200px;
$media_lg:992px;
$media_md:768px;
$media_sm:576px;
$media_min:428px;