@use 'variables' as v;
@use 'placeholders' as p;
@use 'mixins' as m;
@use 'sass:color';

%slider-button {
    width: 67px;
    height: 67px;
    border: none;
    border-radius: 20px;
    background-color: color.adjust(v.$white__color, $alpha: -0.85);
    rotate: 45deg;
}

.testimonials {
    padding: 100px 0 100px 0;
    margin: 0 auto;

    @include m.d-flex (center, center, row, column, 0, 60px);

    &__title {
        @include m.font(60px, 400, v.$white__color);

        @media (max-width:p.$media_md) {
            font-size: 35px;
        }
    }

    .wrapper {
        position: relative;
        height: 500px;
        max-width: 500px;

        &__left-button {
            @include m.position (absolute, 1, -1, top, left, 100px, -100px);
            @extend %slider-button;

            &-icon {
                width: 36px;
                height: 23px;
                fill: v.$white__color;
                rotate: 135deg;
            }
        }

        &__right-button {
            @extend %slider-button;

            @include m.position (absolute, 1, -1, top, right, 100px, -100px);

            &-icon {
                width: 36px;
                height: 23px;
                fill: v.$white__color;
                rotate: -45deg;
            }
        }

        &__left-button:hover,
        &__right-button:hover {
            box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, .2);
            cursor: pointer;

            .wrapper__left-button-icon,
            .wrapper__right-button-icon {
                fill: v.$black__color;
            }
        }

        &__points {
            @include m.position (absolute, 1, -1, bottom, left, 40px, 50%);
            @include m.d-flex (start, center, nowrap, row, 9px, 0);
            translate: -50% 0;

            &-item {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: v.$white__color;

                &:hover {
                    cursor: pointer;
                    scale: .7;
                    background-color: #B4B4B4;
                }
            }
        }

        @media (max-width:p.$media_md) {
            height: 320px;

            &__left-button {
                width: 50px;
                    height: 50px;
                top: unset;
                bottom: 27px;
                left: 70px;
            }

            &__right-button {
                width: 50px;
                    height: 50px;
                top: unset;
                bottom: 27px;
                right: 75px;
            }

            &__points {
                @include m.position (absolute, 1, -1, bottom, left, 0, 50%);
                bottom: 45px;
            }
        }
    }
}